#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 80px;
}

/* 
=============================================
HTML ELEMENT CLASSES
=============================================
*/

h1 {
	font-size: 120px;
	line-height: 34px;
  	height: 35px;
  }

/* 
=============================================
HEAD CLASSES
=============================================
*/

/* head text classes */
.head-content-flex {
  display: flex;
  color: white;
  font-size: 22px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 40px
}

.head-title {
  text-align: right;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

/* Head to body divider classes */
.div-transparent
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px black;
}


/* 
=============================================
BODY CLASSES
=============================================
*/

/* set main page background color*/
.red-background {
  background-color: #d95550;
}

/* style border around timer content */
.border {
  	border-radius: 35px;
	margin: auto;
	background-color: #DD6662;
    padding: 40px;
    width: 550px;
    height: 295px;
}


/* 
-------------------------------
styling for buttons above timer
------------------------------- 
*/

/* sets button style to rounded */
.rounded-button {
	border-radius: 7px;
	font-size: 18px;
	color: #1F2C3A;
	border: none;
}

/* styles button spacing */
.button-flex {
	display: flex;
	color: white;
	font-size: 22px;
  }
  
.button-flex-child {
	flex: 1;
}
  
.button-flex-child:first-child {
	margin-right: 15px
}

.button-flex-child:nth-child(2) {
	margin-right: 15px
}


/* 
-------------------------------
countdown timer styling
------------------------------- 
*/

/* sets styling for countdown timer */
.timer {
	text-align: center;
}


/* 
-------------------------------
styling for button below timer
------------------------------- 
*/

/* sets button style to animated */
.animated-button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #1F2C3A;
	background-color: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
    
  .animated-button:active {
	background-color: white;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }